.to-do-input {
    display: flex;
    justify-content: space-around;
}


.add-button {
    cursor: pointer;
}

ul {
    list-style-type: none;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-around;
}



.delete-button {
    cursor: pointer;
}

.last-content {
    display: flex;
    justify-content: space-around;
}

.clear-all-button {
    cursor: pointer;
}