.to-do-input {
    display: flex;
    justify-content: space-around;
}

.input-validating {
    color: red;
}

.add-button {
    cursor: pointer;
}

ul {
    list-style-type: none;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-around;
}



.delete-button {
    cursor: pointer;
    visibility: hidden;
}

li:hover .delete-button {
    visibility: visible;
}

.delete-button:active {
    transform: scale(0.9);
}

.last-content {
    display: flex;
    justify-content: space-around;
}

.clear-all-button {
    cursor: pointer;
}